{
  "openapi": "3.1.0",
  "info": {
    "title": "AutoContent Platform API",
    "version": "1.0.0",
    "description": "First-class content Assets with prepaid USD billing. Generic document and video routes do not exist."
  },
  "servers": [
    {
      "url": "https://api.autocontentapi.com/v1"
    }
  ],
  "paths": {
    "/projects": {
      "post": {
        "operationId": "createProject",
        "summary": "Create a Project from one website URL",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "website_url": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "format": "uri",
                    "x-max-utf8-bytes": 2048
                  }
                },
                "required": [
                  "website_url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCreateAccepted"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "get": {
        "operationId": "listProjects",
        "summary": "List Projects",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9]|[1-9][0-9]|100)$"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "analyzing",
                "needs_review",
                "ready",
                "failed",
                "archived"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "next_cursor": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a Project and analysis status",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Edit and confirm a Project profile",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "x-max-utf8-bytes": 200
                  },
                  "description": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 4000,
                    "x-max-utf8-bytes": 4000
                  },
                  "category": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 500,
                    "x-max-utf8-bytes": 500
                  },
                  "audience": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 2000,
                    "x-max-utf8-bytes": 2000
                  },
                  "relevant_keywords": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200,
                      "x-max-utf8-bytes": 200
                    }
                  },
                  "competitor_keywords": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200,
                      "x-max-utf8-bytes": 200
                    }
                  },
                  "excluded_keywords": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200,
                      "x-max-utf8-bytes": 200
                    }
                  },
                  "allow_competitor_mentions": {
                    "type": "boolean"
                  },
                  "research_locale": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 255,
                    "format": "bcp47"
                  },
                  "crawl_scope": {
                    "type": "object",
                    "properties": {
                      "root_url": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "format": "uri",
                        "x-max-utf8-bytes": 2048
                      }
                    },
                    "required": [
                      "root_url"
                    ],
                    "additionalProperties": false
                  },
                  "brand": {
                    "type": "object",
                    "properties": {
                      "colors": {
                        "maxItems": 8,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "^#[0-9A-F]{6}$"
                        }
                      },
                      "instructions": {
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 2000,
                        "x-max-utf8-bytes": 2000
                      },
                      "default_voice_id": {
                        "anyOf": [
                          {
                            "type": "string",
                            "pattern": "^voice_[A-Za-z0-9_-]+$"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "default_avatar_id": {
                        "anyOf": [
                          {
                            "type": "string",
                            "pattern": "^avatar_[A-Za-z0-9_-]+$"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "additionalProperties": false
                  },
                  "confirmed": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "delete": {
        "operationId": "archiveProject",
        "summary": "Archive a Project and its Loops",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/projects/{id}/logo": {
      "put": {
        "operationId": "replaceProjectLogo",
        "summary": "Replace the primary Project logo revision",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_url": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "format": "uri",
                    "x-max-utf8-bytes": 2048
                  }
                },
                "required": [
                  "source_url"
                ],
                "additionalProperties": false
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "delete": {
        "operationId": "removeProjectLogo",
        "summary": "Clear the primary Project logo for future work",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/projects/{id}/refresh": {
      "post": {
        "operationId": "refreshProject",
        "summary": "Refresh Project website analysis",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/projects/{id}/collections": {
      "post": {
        "operationId": "createCollection",
        "summary": "Create a Source collection",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "x-max-utf8-bytes": 200
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "get": {
        "operationId": "listCollections",
        "summary": "List Source collections",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9]|[1-9][0-9]|100)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    },
                    "next_cursor": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/collections/{id}": {
      "patch": {
        "operationId": "updateCollection",
        "summary": "Rename a Source collection",
        "tags": [
          "collections"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^col_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "x-max-utf8-bytes": 200
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCollection",
        "summary": "Delete an empty Source collection",
        "tags": [
          "collections"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^col_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully; no response body."
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/projects/{id}/sources": {
      "post": {
        "operationId": "createSource",
        "summary": "Add a Project Source",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "url"
                      },
                      "url": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "format": "uri",
                        "x-max-utf8-bytes": 2048
                      },
                      "title": {},
                      "collection_id": {
                        "type": "string",
                        "pattern": "^col_[A-Za-z0-9_-]+$"
                      }
                    },
                    "required": [
                      "type",
                      "url"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "youtube"
                      },
                      "url": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "format": "uri",
                        "x-max-utf8-bytes": 2048
                      },
                      "title": {},
                      "collection_id": {
                        "type": "string",
                        "pattern": "^col_[A-Za-z0-9_-]+$"
                      }
                    },
                    "required": [
                      "type",
                      "url"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "text"
                      },
                      "text": {},
                      "title": {},
                      "collection_id": {
                        "type": "string",
                        "pattern": "^col_[A-Za-z0-9_-]+$"
                      }
                    },
                    "required": [
                      "type",
                      "text",
                      "title"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "product_visual"
                      },
                      "url": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "format": "uri",
                        "x-max-utf8-bytes": 2048
                      },
                      "title": {},
                      "collection_id": {
                        "type": "string",
                        "pattern": "^col_[A-Za-z0-9_-]+$"
                      }
                    },
                    "required": [
                      "type",
                      "url"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "collection_id": {
                    "type": "string",
                    "pattern": "^col_[A-Za-z0-9_-]+$"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "x-max-utf8-bytes": 500
                  },
                  "keep_as_project_asset": {
                    "type": "boolean",
                    "default": true,
                    "description": "Set false to keep the upload request-only; it expires after 24 hours unless claimed by a Generation."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "get": {
        "operationId": "listSources",
        "summary": "List Project Sources",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9]|[1-9][0-9]|100)$"
            }
          },
          {
            "name": "collection_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^col_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "x-max-utf8-bytes": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Source"
                      }
                    },
                    "next_cursor": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/sources/{id}": {
      "get": {
        "operationId": "getSource",
        "summary": "Get Source ingestion status and revision",
        "tags": [
          "sources"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^src_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "delete": {
        "operationId": "removeSource",
        "summary": "Remove a Source from future Generations",
        "tags": [
          "sources"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^src_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/sources/{id}/refresh": {
      "post": {
        "operationId": "refreshSource",
        "summary": "Refresh a remote Source",
        "tags": [
          "sources"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.write"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^src_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/asset-types": {
      "get": {
        "operationId": "listAssetTypes",
        "summary": "List first-class Asset contracts",
        "tags": [
          "asset-types"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9]|[1-9][0-9]|100)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "catalog_version",
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "catalog_version": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssetTypeDefinition"
                      }
                    },
                    "next_cursor": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List pinnable models for an Asset type",
        "tags": [
          "models"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9]|[1-9][0-9]|100)$"
            }
          },
          {
            "name": "asset_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "article",
                "lead_magnet",
                "ebook",
                "slides",
                "infographic",
                "quiz",
                "podcast_episode",
                "short_video",
                "explainer_video",
                "launch_video",
                "product_demo_video",
                "ad_video"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "catalog_version",
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "catalog_version": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Model"
                      }
                    },
                    "next_cursor": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/voices": {
      "get": {
        "operationId": "listVoices",
        "summary": "List compatible stock and Project Voices",
        "tags": [
          "voices"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9]|[1-9][0-9]|100)$"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "asset_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "article",
                "lead_magnet",
                "ebook",
                "slides",
                "infographic",
                "quiz",
                "podcast_episode",
                "short_video",
                "explainer_video",
                "launch_video",
                "product_demo_video",
                "ad_video"
              ]
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 255,
              "format": "bcp47"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "stock",
                "custom"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "ready",
                "failed",
                "revoked"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Voice"
                      }
                    },
                    "next_cursor": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/projects/{id}/voices": {
      "post": {
        "operationId": "createVoice",
        "summary": "Create a consented custom Project Voice",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_url": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "format": "uri",
                    "x-max-utf8-bytes": 2048
                  },
                  "display_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "x-max-utf8-bytes": 80
                  },
                  "consent_attested": {
                    "type": "boolean",
                    "const": true
                  },
                  "ownership_attested": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "required": [
                  "source_url",
                  "display_name",
                  "consent_attested",
                  "ownership_attested"
                ],
                "additionalProperties": false
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "file",
                  "display_name",
                  "consent_attested",
                  "ownership_attested"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "display_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "x-max-utf8-bytes": 80
                  },
                  "consent_attested": {
                    "type": "boolean",
                    "const": true
                  },
                  "ownership_attested": {
                    "type": "boolean",
                    "const": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Voice"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/voices/{id}": {
      "get": {
        "operationId": "getVoice",
        "summary": "Get a visible Voice and readiness state",
        "tags": [
          "voices"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^voice_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Voice"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "delete": {
        "operationId": "revokeVoice",
        "summary": "Revoke a custom Project Voice",
        "tags": [
          "voices"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^voice_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Voice"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/avatars": {
      "get": {
        "operationId": "listAvatars",
        "summary": "List compatible stock and Project Avatars",
        "tags": [
          "avatars"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9]|[1-9][0-9]|100)$"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "asset_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "short_video",
                "explainer_video",
                "launch_video",
                "product_demo_video",
                "ad_video"
              ]
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 255,
              "format": "bcp47"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "stock",
                "custom"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "ready",
                "failed",
                "revoked"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Avatar"
                      }
                    },
                    "next_cursor": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/projects/{id}/avatars": {
      "post": {
        "operationId": "createAvatar",
        "summary": "Create a consented custom Project Avatar",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_url": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "format": "uri",
                    "x-max-utf8-bytes": 2048
                  },
                  "display_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "x-max-utf8-bytes": 80
                  },
                  "consent_attested": {
                    "type": "boolean",
                    "const": true
                  },
                  "ownership_attested": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "required": [
                  "source_url",
                  "display_name",
                  "consent_attested",
                  "ownership_attested"
                ],
                "additionalProperties": false
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "file",
                  "display_name",
                  "consent_attested",
                  "ownership_attested"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "display_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "x-max-utf8-bytes": 80
                  },
                  "consent_attested": {
                    "type": "boolean",
                    "const": true
                  },
                  "ownership_attested": {
                    "type": "boolean",
                    "const": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avatar"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/avatars/{id}": {
      "get": {
        "operationId": "getAvatar",
        "summary": "Get a visible Avatar and readiness state",
        "tags": [
          "avatars"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^avatar_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avatar"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "delete": {
        "operationId": "revokeAvatar",
        "summary": "Revoke a custom Project Avatar",
        "tags": [
          "avatars"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^avatar_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Avatar"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/generations/preview": {
      "post": {
        "operationId": "previewGeneration",
        "summary": "Validate, normalize, and quote a Generation",
        "tags": [
          "generations"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "pattern": "^prj_[A-Za-z0-9_-]+$"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "trend"
                          },
                          "lookback_days": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 30
                          },
                          "instructions": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 4000,
                            "x-max-utf8-bytes": 4000
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "topic"
                          },
                          "topic": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 2000,
                            "x-max-utf8-bytes": 2000
                          },
                          "evidence_scope": {
                            "type": "string",
                            "enum": [
                              "project",
                              "project_and_web"
                            ]
                          },
                          "lookback_days": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 30
                          },
                          "source_ids": {
                            "minItems": 1,
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^src_[A-Za-z0-9_-]+$"
                            },
                            "uniqueItems": true
                          },
                          "collection_ids": {
                            "minItems": 1,
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^col_[A-Za-z0-9_-]+$"
                            },
                            "uniqueItems": true
                          },
                          "instructions": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 4000,
                            "x-max-utf8-bytes": 4000
                          }
                        },
                        "required": [
                          "type",
                          "topic"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "knowledge"
                          },
                          "source_ids": {
                            "minItems": 1,
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^src_[A-Za-z0-9_-]+$"
                            },
                            "uniqueItems": true
                          },
                          "collection_ids": {
                            "minItems": 1,
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^col_[A-Za-z0-9_-]+$"
                            },
                            "uniqueItems": true
                          },
                          "instructions": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 4000,
                            "x-max-utf8-bytes": 4000
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "attachment_source_ids": {
                    "minItems": 1,
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^src_[A-Za-z0-9_-]+$"
                    },
                    "uniqueItems": true
                  },
                  "instructions": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000,
                    "x-max-utf8-bytes": 4000
                  },
                  "language": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 255,
                    "format": "bcp47"
                  },
                  "assets": {
                    "minItems": 1,
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AssetRequest"
                    },
                    "x-unique-by": "asset_type"
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {},
                    "x-max-json-bytes": 4096
                  }
                },
                "required": [
                  "project_id",
                  "input",
                  "assets"
                ],
                "additionalProperties": false
              },
              "examples": {
                "five_first_class_video_outcomes": {
                  "value": {
                    "project_id": "prj_7f3",
                    "input": {
                      "type": "trend",
                      "lookback_days": 7
                    },
                    "language": "en-US",
                    "assets": [
                      {
                        "asset_type": "short_video",
                        "options": {
                          "duration_seconds": 30,
                          "aspect_ratio": "9:16",
                          "resolution": "1080p",
                          "captions": true,
                          "presentation_mode": "faceless"
                        }
                      },
                      {
                        "asset_type": "explainer_video",
                        "voice_id": "voice_acme_narrator",
                        "options": {
                          "duration_seconds": 90,
                          "aspect_ratio": "16:9",
                          "resolution": "1080p",
                          "captions": true,
                          "presentation_mode": "faceless"
                        }
                      },
                      {
                        "asset_type": "launch_video",
                        "voice_id": "voice_acme_narrator",
                        "avatar_id": "avatar_acme_presenter",
                        "options": {
                          "duration_seconds": 60,
                          "aspect_ratio": "16:9",
                          "resolution": "1080p",
                          "captions": true,
                          "presentation_mode": "avatar"
                        }
                      },
                      {
                        "asset_type": "product_demo_video",
                        "options": {
                          "duration_seconds": 120,
                          "aspect_ratio": "16:9",
                          "resolution": "1080p",
                          "captions": true,
                          "presentation_mode": "faceless",
                          "product_visual_source_ids": [
                            "src_dashboard"
                          ]
                        }
                      },
                      {
                        "asset_type": "ad_video",
                        "avatar_id": "avatar_acme_presenter",
                        "options": {
                          "duration_seconds": 30,
                          "aspect_ratio": "9:16",
                          "resolution": "1080p",
                          "captions": true,
                          "presentation_mode": "avatar"
                        }
                      }
                    ]
                  }
                },
                "exact_two_speaker_explainer": {
                  "value": {
                    "project_id": "prj_7f3",
                    "input": {
                      "type": "knowledge"
                    },
                    "language": "de-DE",
                    "assets": [
                      {
                        "asset_type": "explainer_video",
                        "options": {
                          "duration_seconds": 60,
                          "aspect_ratio": "9:16",
                          "resolution": "1080p",
                          "captions": true,
                          "presentation_mode": "avatar"
                        },
                        "narration_script": {
                          "speakers": [
                            {
                              "id": "host",
                              "voice_id": "voice_host_de",
                              "avatar_id": "avatar_host"
                            },
                            {
                              "id": "expert",
                              "voice_id": "voice_expert_de",
                              "avatar_id": "avatar_expert"
                            }
                          ],
                          "segments": [
                            {
                              "speaker_id": "host",
                              "text": "Heute erklären wir den freigegebenen Ablauf."
                            },
                            {
                              "speaker_id": "expert",
                              "text": "Die Formulierung bleibt dabei exakt erhalten."
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationPreview"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/generations": {
      "post": {
        "operationId": "createGeneration",
        "summary": "Reserve USD and create a Generation",
        "tags": [
          "generations"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "pattern": "^prj_[A-Za-z0-9_-]+$"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "trend"
                          },
                          "lookback_days": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 30
                          },
                          "instructions": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 4000,
                            "x-max-utf8-bytes": 4000
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "topic"
                          },
                          "topic": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 2000,
                            "x-max-utf8-bytes": 2000
                          },
                          "evidence_scope": {
                            "type": "string",
                            "enum": [
                              "project",
                              "project_and_web"
                            ]
                          },
                          "lookback_days": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 30
                          },
                          "source_ids": {
                            "minItems": 1,
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^src_[A-Za-z0-9_-]+$"
                            },
                            "uniqueItems": true
                          },
                          "collection_ids": {
                            "minItems": 1,
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^col_[A-Za-z0-9_-]+$"
                            },
                            "uniqueItems": true
                          },
                          "instructions": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 4000,
                            "x-max-utf8-bytes": 4000
                          }
                        },
                        "required": [
                          "type",
                          "topic"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "knowledge"
                          },
                          "source_ids": {
                            "minItems": 1,
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^src_[A-Za-z0-9_-]+$"
                            },
                            "uniqueItems": true
                          },
                          "collection_ids": {
                            "minItems": 1,
                            "maxItems": 100,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^col_[A-Za-z0-9_-]+$"
                            },
                            "uniqueItems": true
                          },
                          "instructions": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 4000,
                            "x-max-utf8-bytes": 4000
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "attachment_source_ids": {
                    "minItems": 1,
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^src_[A-Za-z0-9_-]+$"
                    },
                    "uniqueItems": true
                  },
                  "instructions": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000,
                    "x-max-utf8-bytes": 4000
                  },
                  "language": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 255,
                    "format": "bcp47"
                  },
                  "assets": {
                    "minItems": 1,
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AssetRequest"
                    },
                    "x-unique-by": "asset_type"
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {},
                    "x-max-json-bytes": 4096
                  },
                  "max_cost_usd": {
                    "type": "string",
                    "pattern": "^(0|[1-9][0-9]{0,5})\\.[0-9]{2}$"
                  }
                },
                "required": [
                  "project_id",
                  "input",
                  "assets",
                  "max_cost_usd"
                ],
                "additionalProperties": false
              },
              "examples": {
                "first_class_lead_magnet_from_knowledge": {
                  "value": {
                    "project_id": "prj_7f3",
                    "input": {
                      "type": "knowledge",
                      "source_ids": [
                        "src_clinic_guide"
                      ]
                    },
                    "language": "es-ES",
                    "assets": [
                      {
                        "asset_type": "lead_magnet",
                        "options": {
                          "page_count": 10,
                          "format": "auto"
                        },
                        "model": "gpt-image-2-2026-04-21"
                      }
                    ],
                    "max_cost_usd": "55.00"
                  }
                },
                "first_class_lead_magnet_from_topic": {
                  "value": {
                    "project_id": "prj_7f3",
                    "input": {
                      "type": "topic",
                      "topic": "How independent clinics can improve patient enquiry follow-up",
                      "evidence_scope": "project"
                    },
                    "assets": [
                      {
                        "asset_type": "lead_magnet",
                        "options": {
                          "page_count": 4,
                          "format": "checklist"
                        }
                      }
                    ],
                    "max_cost_usd": "37.00"
                  }
                },
                "exact_faceless_short": {
                  "value": {
                    "project_id": "prj_7f3",
                    "input": {
                      "type": "knowledge"
                    },
                    "language": "de-DE",
                    "assets": [
                      {
                        "asset_type": "short_video",
                        "options": {
                          "duration_seconds": 30,
                          "aspect_ratio": "9:16",
                          "resolution": "1080p",
                          "captions": true,
                          "presentation_mode": "faceless"
                        },
                        "narration_script": {
                          "speakers": [
                            {
                              "id": "narrator"
                            }
                          ],
                          "segments": [
                            {
                              "speaker_id": "narrator",
                              "text": "Dieser geprüfte Wortlaut wird nicht umgeschrieben."
                            }
                          ]
                        }
                      }
                    ],
                    "max_cost_usd": "10.00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      },
      "get": {
        "operationId": "listGenerations",
        "summary": "List Generations",
        "tags": [
          "generations"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?:[1-9]|[1-9][0-9]|100)$"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^prj_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "edited_from_generation_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^gen_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "researching",
                "generating",
                "succeeded",
                "partially_succeeded",
                "failed",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Generation"
                      }
                    },
                    "next_cursor": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/generations/{id}": {
      "get": {
        "operationId": "getGeneration",
        "summary": "Get a Generation and its Assets",
        "tags": [
          "generations"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.read"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^gen_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/generations/{id}/edit/preview": {
      "post": {
        "operationId": "previewGenerationEdit",
        "summary": "Validate and quote a full Asset edit from frozen Generation context",
        "tags": [
          "generations"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^gen_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assets": {
                    "minItems": 1,
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EditAssetOverride"
                    },
                    "x-unique-by": "asset_id"
                  }
                },
                "required": [
                  "assets"
                ],
                "additionalProperties": false
              },
              "examples": {
                "rerender_selected_asset": {
                  "value": {
                    "assets": [
                      {
                        "asset_id": "ast_01HZX7E2Y4D9K3Q1M8N6P0R5ST",
                        "instructions": "Shorten the introduction and add a migration checklist.",
                        "options": {
                          "page_count": 10,
                          "format": "auto"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationEditPreview"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/generations/{id}/edit": {
      "post": {
        "operationId": "createGenerationEdit",
        "summary": "Reserve USD and fully rerender selected Assets from frozen Generation context",
        "tags": [
          "generations"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^gen_[A-Za-z0-9_-]+$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "1–255 visible ASCII bytes; UUID recommended.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[!-~]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assets": {
                    "minItems": 1,
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EditAssetOverride"
                    },
                    "x-unique-by": "asset_id"
                  },
                  "max_cost_usd": {
                    "type": "string",
                    "pattern": "^(0|[1-9][0-9]{0,5})\\.[0-9]{2}$"
                  }
                },
                "required": [
                  "assets",
                  "max_cost_usd"
                ],
                "additionalProperties": false
              },
              "examples": {
                "rerender_selected_asset": {
                  "value": {
                    "assets": [
                      {
                        "asset_id": "ast_01HZX7E2Y4D9K3Q1M8N6P0R5ST",
                        "instructions": "Shorten the introduction and add a migration checklist.",
                        "options": {
                          "page_count": 10,
                          "format": "auto"
                        }
                      }
                    ],
                    "max_cost_usd": "1.40"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/generations/{id}/cancel": {
      "post": {
        "operationId": "cancelGeneration",
        "summary": "Cancel undispatched Generation work",
        "tags": [
          "generations"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
            "platformApiKey": []
          }
        ],
        "x-required-scopes": [
          "platform.generate"
        ],
        "x-principal": "oauth_or_api_key",
        "x-idempotency-required": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^gen_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/AutoContentError"
          }
        }
      }
    },
    "/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List the Project Asset library",
        "tags": [
          "assets"
        ],
        "security": [
          {
            "platformOAuth": []
          },
          {
[...]
